<img ng-src="{{mainImageUrl}}" class="campsite">

<h1>{{campsite.name}}</h1>

<p>{{campsite.description}}</p>

<ul class="campsite-thumbs">
  <li ng-repeat="img in campsite.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul>


<ul class="specs">
  <li>
    <span>Location</span>
    <dl>
      <dt>Description</dt>
      <dd>{{campsite.location.description}}</dd>
      <dt>Degrees</dt>
      <dd>{{campsite.location.degrees}}</dd>
      <dt>Altitude</dt>
      <dd>{{campsite.location.altitude}}</dd>
    </dl>
  </li>
  <li>
    <span>Dates</span>
    <dl>
      <dt>Start</dt>
      <dd>{{campsite.dates.start}}</dd>
      <dt>End</dt>
      <dd>{{campsite.dates.end}}</dd>
    </dl>
  </li>
  <li>
    <span>Type of Campsite</span>
    <dl>
      <dt>Description</dt>
      <dd>{{campsite.type.description}}</dd>
      <dt>Rough</dt>
      <dd>{{campsite.type.rough | checkmark}}</dd>
      <dt>Improved</dt>
      <dd>{{campsite.type.improved | checkmark}}</dd>
  </li>
  <li>
    <span>Comments</span>
    <dd>{{campsite.comments}}</dd>
  </li>
</ul>
