<img ng-src="{{campsite.images[0]}}" class="campsite">

<h1>{{campsite.name}}</h1>

<p>{{campsite.description}}</p>

<ul class="campsite-thumbs">
  <li ng-repeat="img in campsite.images">
    <img ng-src="{{img}}">
  </li>
</ul>

<ul class="specs">
  <li>
    <span>Location</span>
    <dl>
      <dt>Description</dt>
      <dd>{{campsite.location.description}}</dd>
      <dt>Degrees</dt>
      <dd>{{campsite.location.degrees}}</dd>
    </dl>
  </li>
  <li>
    <span>Dates</span>
    <dl>
      <dt>Start</dt>
      <dd>{{campsite.dates.start}}</dd>
      <dt>End</dt>
      <dd>{{campsite.dates.end}}</dd>
    </dl>
  </li>
  <li>
    <span>Type of Campsite</span>
    <dd>{{campsite.type}}</dd>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{campsite.additionalFeatures}}</dd>
  </li>
</ul>
