<p>This is the partial for view 1.</p><!--Hello from partials/partial1.html-->
<!-- This is how you do a comment in html -->

<!-- <div ng-controller="CampSiteCtrl"> -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->
        Search: <input ng-model="query">
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="state">State</option>
        </select>
      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="campsites">
          <li ng-repeat="campsite in campsites | filter:query | orderBy:orderProp" 
          class="thumbnail campsite-listing">
            <a href="#/campsites/{{campsite.id}}" class="thumb"><img ng-src="{{campsite.imageUrl}}"></a>
            <a href="#/campsites/{{campsite.id}}">{{campsite.name}}</a>
		      <p>{{campsite.snippet}}</p>
		    </li>
        </ul>
      </div>
    </div>
  </div> 
<!-- </div>-->
